* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #e13c00;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 20px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 170px;
  height: 170px;
}

.title {
  font-size: 35px;
  text-align: center;
  color: var(--text-color);
}

.gallery-box {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  flex: 1 1 400px;
  padding: 10px;
  width: 480px;
  border: 3px solid #ffb700;
  border-radius: 20px;
}

.img {
  width: 100%;
  border-radius: 15px;
}
.card-body {
  padding: 5px 15px 15px 15px;
}
.card-title {
  font-size: 28px;
  color: var(--text-color);
  padding-bottom: 10px;
}

.card-text {
  font-size: 16px;
}

@media (max-width: 500px) {
  .title {
    font-size: 28px;
  }
  .card {
    padding: 5px;
  }
  .img {
    height: 250px;
  }
  .container {
    padding: 10px;
  }
  .card-title {
    font-size: 24px;
  }
  .card-text {
    font-size: 14px;
    text-align: justify;
  }
}
